# cmake
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile

# built files
/build
/install
example/bin

# gtags
/GPATH
/GRTAGS
/GSYMS
/GTAGS

# built documention
doc/*.db
doc/auto/
doc/exemple/bin
doc/html/

# emacs
/.projectile
.#*

# excluded files
*.pdf
*.wav
/share/alternatives
